.row.full-width.site-action
	.container.vertical-align
		.col-xs-12.col-sm-6.col-sm-offset-1
			p Call to action text here.
				br
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
		.col-xs-12.col-sm-4.text-center
			p: a.btn.btn-md.btn-ghost Contact us&nbsp;
				i.fa.fa-angle-double-right
