.row.full-width.container-margin.site-action
	.container.vertical-align
		.col-xs-12.col-sm-6.col-sm-offset-1
			p Call to action text here.
				br
				| Aenean commodo ligula eget dolor. Aenean massa.
		.col-xs-12.col-sm-4.text-center
			p: a.btn.btn-md.btn-ghost Call to us
				i.fa.fa-phone.fa-right
