//- Footer

.row.full-width.site-footer
	.container
		.col-sm-3
			dl.swing-footer-logo
				img(src="http://placehold.it/300x200/", alt="", width="150")
			p.small 〒123-4567
				br
				| 東京都港区高輪1-1-1
				br
				| TEL. 03-1234-5678
		.col-sm-3
			ul.list.list-unstyled
				li: a(href="/about.html") About
				li: a(href="/") Products
				li: a(href="/") Contact
		.col-sm-3
			ul.list.list-unstyled
				li: a(href="/") Blog
				li: a(href="/") Facebook
				li: a(href="/") Instagram
		.col-sm-3
			ul.list.list-unstyled
				li: a(href="" title="Googleマップで表示")
					i.fa.fa-map-marker &nbsp;Access
				li: a(href="tel:")
					i.fa.fa-phone &nbsp;03-1234-5678
				li: a(href="mailto:")
					i.fa.fa-envelope &nbsp;mail@example.com
				li
					ul.list.list-inline.list-unstyled
						li: a(href="")
							i.fa.fa-facebook
						li: a(href="")
							i.fa.fa-twitter
						li: a(href="")
							i.fa.fa-google

