!= partial('_partial/_carousel')
!= partial('_partial/_action')

.container
	.row
		.col-sm-12.site-lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				br
				| Tagline text insert here.

.container
	.row
		.col-sm-4
			h3 News
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		.col-sm-4
			h3 Message
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		.col-sm-4
			h3 About
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

.row.full-width.site-hr
	hr

.container
	.row
		.col-sm-8.col-sm-offset-2
			:marked
				### Markdown Writing

				Quasi perspiciatis, est, non dolor eaque itaque eum officia.

				``` shell
				$ npm install -g harp; harp server
				```

.row.full-width.site-hr
	hr

.container
	.row
		.col-sm-12.site-section-heading
			h2
				i.fa.fa-star.fa-left
				| Heading Level 2
			p.small Summary text insert here.
	.row.site-column-section
		.col-sm-3
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
			h3.site-heading-primary Aenean commodo
			p.small Amet magni eveniet minus quod aliquam, maiores fugit beatae iure natus expedita, asperiores, eos, repudiandae tempora eum reiciendis. Cupiditate eaque fuga repudiandae.
			p.site-column-button: a.btn.btn-sm.btn-default(href="/") Read more...
		.col-sm-3
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
			h3.site-heading-primary Donec quam felis
			p.small Amet magni eveniet minus quod aliquam, maiores fugit beatae iure natus expedita, asperiores, eos, repudiandae tempora eum reiciendis. Cupiditate eaque fuga repudiandae.
			p.site-column-button: a.btn.btn-sm.btn-default(href="/") Read more...
		.col-sm-3
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
			h3.site-heading-primary Aenean massa
			p.small Amet magni eveniet minus quod aliquam, maiores fugit beatae iure natus expedita, asperiores, eos, repudiandae tempora eum reiciendis. Cupiditate eaque fuga repudiandae.
			p.site-column-button: a.btn.btn-sm.btn-default(href="/") Read more...
		.col-sm-3
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
			h3.site-heading-primary Nulla consequat
			p.small Amet magni eveniet minus quod aliquam, maiores fugit beatae iure natus expedita, asperiores, eos, repudiandae tempora eum reiciendis. Cupiditate eaque fuga repudiandae.
			p.site-column-button: a.btn.btn-sm.btn-default(href="/") Read more...

!= partial('_partial/_action-margin')

.container.container-margin
	.row
		.col-sm-12.site-section-heading
			h2
				i.fa.fa-star.fa-left
				| Heading Level 2
			p.small Summary text insert here.
	.row.site-featurette-section
		.col-sm-3.col-sm-push-8
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
		.col-sm-7.col-sm-pull-2
			h3 First Last
				span.text-subtext Sub text here
			p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.row.site-featurette-section
		.col-sm-3.col-sm-offset-1
			img.img-responsive.img-circle(src="http://placehold.it/600x600/", alt="")
		.col-sm-7.col-sm-push-1
			h3 First Last
				span.text-subtext Sub text here
			p.lead Doloribus illum suscipit excepturi nobis, repellat praesentium quaerat autem magni ut dolorem.

!= partial('_partial/_action')
